.card {
  background: linear-gradient(180deg, #f3f7fe, #fafbff);
  border-radius: var(--radius);
  padding: calc(24px + 4 * (100vw - 320px) / 1080);
  text-align: center;
  box-shadow: 0 4px 150px -48px #181f2d20;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  text-decoration: none;
}

.icon {
  font-size: 40px;
  color: #002dcb;
}

.cardTitle {
  font-size: 20px;
  color: #040f34;
}

.cardDescription {
  font-size: 14px;
  color: #5c6584;
}
